body {
    position: relative;
    overflow-x:hidden;
    background: #222e3c;
    font-family: 'Roboto', sans-serif;
}

a:hover{
  color:white;
  text-decoration:none;
}

body,
html { height: 100%;}

.wrapper1{
    background: #222e3c;
}






.dashclr{
    color:#0f7dfa!important;
}



.card{
    border-radius: 20px;
}








